{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Log out" %}{% endblock %}
{% block content %}
	<div class="col-md-6 col-md-offset-3">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{% trans "Log out" %}</h3>
			</div>
			<div class="panel-body">
				<p>
					{% blocktrans %}Do you really want to log out?{% endblocktrans %}
				</p>
				<hr />
				<form method="POST">
					{% csrf_token %}
					<input type="hidden" name="next" value="{{ request.GET.next }}" />
					<input type="submit" class="btn btn-primary btn-block" value="{% trans 'Log out' %}" />
				</form>
			</div>
		</div>
	</div>
{% endblock %}
