{% load staticfiles compress %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>{% block title %}Untitled{% endblock %} | {{ site.name }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	{% compress css %}
	<link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.css' %}" />
	<link rel="stylesheet" href="{% static 'tag-it/css/jquery.tagit.css' %}" />
	<link rel="stylesheet" href="{% static 'jquery-ui/themes/base/all.css' %}" />
	<link rel="stylesheet" type="text/less" href="{% static 'style.less' %}" />
	{% endcompress %}
	
	{% compress js %}
	<script src="{% static 'jquery/dist/jquery.js' %}"></script>
	<script src="{% static 'jquery-pjax/jquery.pjax.js' %}"></script>
	<script src="{% static 'jquery-ui/jquery-ui.min.js' %}"></script>
	<script src="{% static 'tag-it/js/tag-it.min.js' %}"></script>
	<script src="{% static 'bootstrap/dist/js/bootstrap.js' %}"></script>
	<script src="{% static 'script.js' %}"></script>
	{% endcompress %}
	
	{% block after_head %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
	{% include "_navbar.html" %}
	<div class="container">
		{% for message in messages %}
		<div class="alert alert-dismissible alert-{{ message.tags|default:'info' }}" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			{{ message }}
		</div>
		{% endfor %}
		{% block content %}{% endblock %}
	</div>
	
	{% block after_body %}{% endblock %}
</body>
</html>
