{% extends 'base.html' %}
{% load thumbnail markdown_deux_tags %}
{% block title %}{{ pool.name }}{% endblock %}
{% block content %}
	{% for post in pool.post_set.all %}
		<div class="col-xs-6 col-sm-3 col-md-2">
			<a href="{{ post.get_absolute_url }}" class="thumbnail">
				{% thumbnail post.image "200x200" crop='center' as thumb %}
					<img src="{{ thumb.url }}" />
				{% empty %}
				{% endthumbnail %}
			</a>
		</div>
	{% endfor %}
	
	<div class="col-md-12">
		<a href="{% url 'pool-upload' pid=pool.id %}" class="btn btn-flat btn-block btn-lg">Upload</a>
	</div>
{% endblock %}
