{% extends 'base.html' %}
{% load thumbnail markdown_deux_tags %}
{% block title %}{{ object.name }}{% endblock %}
{% block breadcrumb %}
	<li><a href="{% url 'index' %}">Hem</a></li>
	<li class="active">{{ object.name }}</li>
{% endblock %}
{% block content %}
	{% for post in object.post_set.all %}
		<div class="col-xs-6 col-sm-3 col-md-2">
			<a href="{% url 'post' post.pool.id post.id %}" class="thumbnail">
				{% thumbnail post.image "200x200" crop='center' as thumb %}
					<img src="{{ thumb.url }}" />
				{% empty %}
				{% endthumbnail %}
			</a>
		</div>
	{% endfor %}
{% endblock %}
