{% extends 'base.html' %}
{% load markdown_deux_tags %}
{% block title %}Bild | {{ object.pool.name }}{% endblock %}
{% block body_class %}has-bottom-bar{% endblock %}
{% block content %}
	<div class="col-xs-12">
		<a class="thumbnail">
			<img src="{{ object.image.url }}" />
			<div class="caption clearfix">
				<div class="description">
					{{ object.description|markdown|default:"<p></p>" }}
				</div>
				<div class="meta small">
					<span class="pull-left"><i class="glyphicon glyphicon-time"></i> {{ object.created_at }}</span>
					<span class="pull-right"><i class="glyphicon glyphicon-user"></i> {{ object.signature|default:"Anonym" }}</span>
				</div>
			</div>
		</a>
	</div>
	<nav class="navbar navbar-fixed-bottom navbar-default navbar-justified">
		<ul class="nav navbar-nav">
			{% with object.prev_post as p %}
				<li class="prev-button {% if not p %}disabled{% endif %}">
					<a {% if p %}href="{% url 'post' p.pool.id p.id %}"{% endif %}><span aria-hidden="true">&larr;</span>&nbsp;Previous</a>
				</li>
			{% endwith %}
			
			<li><a href="{% url 'pool' object.pool.id %}">{{ object.pool.name }}</a></li>
			
			{% with object.next_post as p %}
				<li class="next-button {% if not p %}disabled{% endif %}">
					<a {% if p %}href="{% url 'post' p.pool.id p.id %}"{% endif %}>Next&nbsp;<span aria-hidden="true">&rarr;</span></a>
				</li>
			{% endwith %}
		</ul>
	</nav>
{% endblock %}
