{% extends 'base.html'|pjax:request %}
{% load thumbnail i18n %}
{% block title %}{% trans "Latest Pictures" %}{% endblock %}
{% block content %}
	{% regroup posts by created_at.date as dates %}
	{% for date in dates %}
		<h2>{{ date.grouper }}</h2>
		<div class="row">
		{% for post in date.list %}
			<div class="col-xs-6 col-sm-3 col-md-2">
				<a href="{{ post.get_absolute_url }}" class="thumbnail">
					{% thumbnail post.image "200x200" crop='center' as thumb %}
						<img src="{{ thumb.url }}" />
					{% empty %}
					{% endthumbnail %}
					<div class="caption caption-compact">
						<p class="text-center text-muted small">{{ post.pool.name }}</p>
					</div>
				</a>
			</div>
		{% endfor %}
		</div>
	{% endfor %}
	{% if is_paginated %}
		<nav>
			<ul class="pager">
				<li class="previous {% if not page_obj.has_previous %}disabled{% endif %}"><a {% if page_obj.has_previous %}href="{{ request.path }}?page={{ page_obj.previous_page_number }}" id="go-prev"{% endif %}><span aria-hidden="true">&larr;</span> {% trans "Newer " %}</a></li>
				<li class="next  {% if not page_obj.has_next %}disabled{% endif %}"><a {% if page_obj.has_next %}href="{{ request.path }}?page={{ page_obj.next_page_number }}" id="go-next"{% endif %}>{% trans "Older" %} <span aria-hidden="true">&rarr;</span></a></li>
			</ul>
		</nav>
    {% endif %}
{% endblock %}
