{% extends 'base.html'|pjax:request %}
{% load crispy_forms_tags static i18n %}
{% block title %}{% if post %}{% trans "Edit Post" %}{% else %}{% trans "Upload" %}{% endif %}{% endblock %}
{% block content %}
	{% crispy form %}
{% endblock %}
{% block after_body %}
	<script>
	$('#div_id_tags .controls').prepend('<ul id="tags-widget"></ul>');
	$('#tags-widget').tagit({
		singleField: true,
		singleFieldNode: $('#id_tags'),
	});
	
	$('#id_tags').hide();
	$('.tagit-new input').attr('id', 'tags-widget-input');
	$('label[for=id_tags]').attr('for', 'tags-widget-input');
	</script>
{% endblock %}
